@charset "UTF-8";

@font-face {
	font-family: 'icomoon' !important;
	src:url('../fonts/icomoon.eot?-jenego');
	src:url('../fonts/icomoon.eot?#iefix-jenego') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-jenego') format('woff'),
		url('../fonts/icomoon.ttf?-jenego') format('truetype'),
		url('../fonts/icomoon.svg?-jenego#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ptsans' !important;
	src:url('../fonts/ptsans.ttf');
}

@font-face {
	font-family: 'ptsansb' !important;
	src:url('../fonts/ptsansb.ttf');
}

@font-face {
	font-family: 'Roboto' !important;
	src:url('../fonts/Roboto-Black.ttf');
}

@font-face {
	font-family: 'RobotoCondensedB' !important;
	src:url('../fonts/RobotoCondensed-Bold.ttf');
}
@font-face {
	font-family: 'RobotoCondensedR' !important;
	src:url('../fonts/RobotoCondensed-Regular.ttf');
}
@font-face {
	font-family: 'RobotoCondensedL' !important;
	src:url('../fonts/RobotoCondensed-Light.ttf');
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-map-pin-fill:before {
	content: "\e60f";
}
.icon-mic2:before {
	content: "\e609";
}
.icon-home:before {
	content: "\f08d";
}
.icon-home2:before {
	content: "\e60a";
}
.icon-envelope:before {
	content: "\e610";
}
.icon-phone:before {
	content: "\e600";
}
.icon-camera:before {
	content: "\e60c";
}
.icon-leaf:before {
	content: "\e602";
}
.icon-microphone4:before {
	content: "\e605";
}
.icon-navigate-before:before {
	content: "\e60d";
}
.icon-navigate-next:before {
	content: "\e60e";
}
.icon-local-offer:before {
	content: "\e601";
}
.icon-coffee:before {
	content: "\f0f4";
}

/* Slider */

#bx-pager {
	width: 230px;
	height: 360px;
	background: #d83c27;
	float: left;
}

#anti {
	font-family: 'Roboto';
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	color: white;
	letter-spacing: 2px;
	line-height: 23px;;
	text-shadow:0px 0px 7px #fff;
	background-image: url('images/underline.png');
	background-repeat: no-repeat;
	background-position: 20px 85px;
	padding: 20px 0px;
}

.slider-miniature {
	font-family: "RobotoCondensedB";
	color: white;
	text-shadow: 0px 0px 2px #fff;
	font-size: 14px;
	display: block;
	padding: 16.5px 0;
	text-align: center;
}

.slider-miniature.active, .slider-miniature:hover {
	background: #ad301f;
} 

.bx-viewport, .bx-wrapper {
	width: 730px !important;
	float: right;
}

.bx-wrapper .bx-viewport {
	border: none !important;
	box-shadow: none !important;
}


.count {
	font-family: 'Roboto';
	margin-left: 120px;
	margin-top: 10px;
}
.slider-header {
	font-family: 'RobotoCondensedR';
	color: #d83c27;
	font-size: 30px;
	text-shadow: 0px 0px 5px #fff;
	margin-left: 25px;
	margin-top: 25px;
}
.slider-text {
	font-family: 'RobotoCondensedR';
	font-size: 15px;
	margin-left: 25px;
	margin-top: 10px;
}
.slider-container {
	width: 387px;
	float: right;
	background-color: white;
	position: relative;
	height: 360px;
}
.bx-wrapper img {
	float: left;
}

.bx-wrapper .bx-prev, .bx-wrapper .bx-prev:hover {
	width: 49px !important;
	height: 49px !important;
	background: url('images/prev.png') no-repeat center  !important;
	left: 338px !important;
	top: 16px !important;
}

.bx-wrapper .bx-next, .bx-wrapper .bx-next:hover {
	width: 49px  !important;
	height: 49px  !important;
	background: url('images/next.png') no-repeat center !important;
	top: 16px !important;
	left: 387px !important;
}

.slider-sub-image {
	position: absolute;
	bottom: 25px;
	left: 25px;
}

#ptsans {
	font-family: 'ptsans' !important;
	font-size: 15px;
	margin-left: 25px;
	margin-top: 10px;
}

#ptsansb {
	font-family: 'ptsansb' !important;
	font-size: 15px;
	margin-left: 25px;
	margin-top: 10px;
}

#last-sub-image {
	margin-bottom: -25px !important;
}

#div-overall-wrapper {
	width: 960px;
	height: 400px;
	margin: 0 auto;
}

.bx-wrapper {
	margin: 0 auto !important;
	padding-right: 0px;	
}

#top-wrapper {
	padding: 20px 0 0 0;
	background: #e8e8e8;
	height: 400px;
}